$color-white: #fff;
$color-black: #000;
$color-alabaster: #f9f9f9;
$color-alto: #d8d8d8;
$color-black: #000;
$color-dove-gray: #737373;
$color-linen: #fbf3ee;
$color-sandy-brown: #f4a37c;
$color-wild-sand: #f5f5f5;
$color-silver-chalice: #afafaf;
