@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

@font-face{
  font-family:"BodoniSevITC W05 Regular";
  src:url(~@/assets/fonts/BodoniSevITC-W05-Regular.woff2) format("woff2"),
      url(~@/assets/fonts/BodoniSevITC-W05-Regular.woff) format("woff");
}
@font-face{
  font-family:"BodoniSevITC W05 Bold";
  src:url(~@/assets/fonts/BodoniSevITC-W05-Bold.woff2) format("woff2"),
      url(~@/assets/fonts/BodoniSevITC-W05-Bold.woff) format("woff");
}
@font-face{
  font-family:"TimesNewRomanPSMT";
  src:url(~@/assets/fonts/TimesNewRomanPSMT.ttf) format("ttf"),;
}

body{
	font-family: $ff-main;
}